.leftmenu-spacing-canvas {
  height: 555px;
  overflow-y: auto;
  scrollbar-width: thin;
  scrollbar-color: #4f5052 #242526;
}
/* .leftmenu-spacing-canvas::-webkit-scrollbar {
  width: 15px;
}
.leftmenu-spacing-canvas::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px grey;
}
.leftmenu-spacing-canvas::-webkit-scrollbar-thumb {
  background: #4f5052;
  border-radius: 10px;
  min-height: 40px;
} */
.left-logos {
  margin-left: 20px;
  margin-right: 10px;
  margin-top: 10px;
}
.right-names {
  margin-top: 10px;
}
.logo-discription-container {
  color: #dcdee3;
}
.logo-discription-container:hover {
  background-color: #3a3b3c;
  border-radius: 10px;
}
